@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* BG COLOR: | LIGHT MODE */
        --background: 140.6,84.2%,92.5%;
        --foreground: 220.9 39.3% 11%;
        /* FONT COLOR: | LIGHT MODE */
        --primary: 220.9,39.3%,11%;
        --primary-foreground: 151.8 81% 95.9%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
    }

    .dark {
        /* BG: | DARK MODE */
        --background: 220.9 39.3% 11%;
        --foreground: 141.9,69.2%,58%;
        /* FONT COLOR: | DARK MODE */
        --primary: 220.9,39.3%,11%;
        --primary-foreground: 149.3,80.4%,90%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
    }
}

@layer base {
    html {
        font-family: "Roboto", sans-serif;
    }

    body {
        /* Apply global background and text classes */
        @apply bg-background text-foreground;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.25rem;
    }

    h6 {
        font-size: 1rem;
    }

    p {
        font-size: 1.25rem
    }
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.25rem;
    }
}